@model IEnumerable<OnlineMediaModel>;

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Online Media</title>
</head>
<body>
    <div>
        <h1>Online Media</h1>
        <ul>
            <li><h1><a href="/">Home</a></h1></li>
            <li><h1><a href="/Sources/Index">Sources</a></h1></li>
            <li><h1><a href="/Sources/PhysicalMedia">Books and print media</a></h1></li>
            <li><h1><a href="/Sources/OnlineMedia">Links to online media</a></h1></li>
        </ul>
        <div>
            <p>Online media</p>
            @foreach (OnlineMediaModel o in Model)
            {
                <div>
                    @o.Title <br />
                    <a href="@o.Link">@o.Description</a><br />
                    <br />
                </div>}
        </div>
    </div>
</body>
</html>