@model IEnumerable<PhysicalMediaModel>
@{
    Layout = "_sources";
    ViewBag.Title = "More about the Joker from the publishers";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="mainDiv">
        <h1>Physical Media</h1>
        <ul>
            <li><h1><a href="/">Home</a></h1></li>
            <li><h1><a href="/Sources/Index">Sources</a></h1></li>
            <li><h1><a href="/Sources/PhysicalMedia">Books and print media</a></h1></li>
            <li><h1><a href="/Sources/OnlineMedia">Links to online media</a></h1></li>
        </ul>

        @foreach (PhysicalMediaModel p in Model)
        {
            <div>
                @p.Title <br />
                <a href="@p.Link">@p.Description</a><br />
                <br />
            </div>}
    </div>
</body>
</html>