@{
    Layout = "_general";
    ViewBag.Title = "History Behind The Joker";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="mainDiv">
        <h1><h2>History</h2></h1>
        <ul>
            <li><h1><a href="/">Home</a></h1></li>
            <li><h1><a href="/Sources/Index">Sources</a></h1></li>
            <li><h1><a href="/Home/Stories">Stories</a></h1></li>
            <li><h1><a href="/Home/History">History</a></h1></li>
            @*<li><h1><a href="/Sources/PhysicalMedia">Books and print media</a></h1></li>
            <li><h1><a href="/Sources/OnlineMedia">Links to online media</a></h1></li>*@
        </ul>
        <p>
            The Joker has had many origin stories over the years, differing from edition to edition in the comics. In 1951, The Joker received his first origin story, in which during his days as a thief, he fell into a vat of chemicals running from Batman, bleaching his skin and driving him insane.
        </p>
        <p>
            The Joker and Batman have had many run-ins over the year, but the one thing that remains common is that neither (other than in some editions) truly aim to kill the other. Murder goes against Batman's code, and as for the Joker, as portrayed by Heath Ledger, he does not murder Batman because "he completes him".
        </p>
    </div>
</body>
