@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Joker</title>
</head>
<body>
    <div>
        <h1>The Joker</h1>
        <ul>
            <li><h1><a href="/">Home</a></h1></li>
            <li><h1><a href="/Sources/Index">Sources</a></h1></li>
            <li><h1><a href="/Home/Stories">Stories</a></h1></li>
            <li><h1><a href="/Home/History">History</a></h1></li>
            @*<li><h1><a href="/Sources/PhysicalMedia">Books and print media</a></h1></li>
            <li><h1><a href="/Sources/OnlineMedia">Links to online media</a></h1></li>*@
        </ul>

        </br>
        <img src="https://wjactv.com/resources/media/71252494-6d3c-45a6-92aa-aef5aebd6166-large16x9_ScreenShot20190403at1.36.01PM.png?1554313013831" />

        <p>The Joker - <br />The Joker is one of the most famous comic book villains in America. This site aims to provide information about his character and resources to learn more about him.</p>
        <p>Disclaimer: There will be no spoilers regarding the Joker (2019) movie.</p>
    </div>
</body>
</html>