@model FanSite.Models.Story

@{
    Layout = "_general";
    ViewBag.Title = "Leave Your Story About The Joker";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="mainDiv">
        <h1>Stories</h1>
        <ul>
            <li><h1><a href="/">Home</a></h1></li>
            <li><h1><a href="/Sources/Index">Sources</a></h1></li>
            @*<li><h1><a href="/Sources/PhysicalMedia">Books and print media</a></h1></li>
            <li><h1><a href="/Sources/OnlineMedia">Links to online media</a></h1></li>*@
        </ul>
        <h2>@ViewData["Header"]</h2>
        <form asp-action="StoryForm" asp-controller="Home" method="post">
            <div>
                <label asp-for="User.Username">Username:</label>
                <input asp-for="User.Username" />
            </div>
            <div>
                <label asp-for="User.Email">Your email:</label>
                <input asp-for="User.Email" />
            </div>
            <div>
                <label asp-for="StoryTitle">Story Title:</label>
                <input asp-for="StoryTitle" />
            </div>
            <div>
                <label asp-for="StoryText">Story:</label>
                <input asp-for="StoryText" />
            </div>
            <div>
                <button type="submit">Submit Story</button>
            </div>
        </form>
    </div>
</body>
</html>